.practice-area-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0;
}

.practice-area-wrapper img{
    width: 20rem;
    height: 30rem;
    object-fit: cover;
}

.practice-area-text-wrapper {
    width: 40%;
}

.practice-area-text-wrapper h2{
    font-size: clamp(1.5rem, 2vw, 1.7rem);
    color: #B49C73;
}

.practice-area-text-wrapper p {
    color: #FFFFFF;
}

.practice-area-text-wrapper ul {
    list-style-type: none; 
}

.practice-area-text-wrapper li{
    color: #FFFFFF;
    line-height: 1.2;
}

.practice-area-text-wrapper ul li::before {
    content: '\2022'; 
    color: #B49C73; 
    font-size: 20px;
    margin-right: 10px; 
}

@media (max-width: 768px) { 
    .practice-area-wrapper {
        flex-direction: column-reverse;
        margin: 0 0 3rem 0;
    }
    .practice-area-wrapper img{
        width: 100%;
        height: auto; 
        object-fit: cover; 
    }
    
    .practice-area-text-wrapper {
        width: 100%;
    }
}