/* header */

.hero-background {
    position: relative; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 95vh;
}

.hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/pictures/pexels-pavel-danilyuk-hero-bg-cropped.webp');
    background-size: cover;
    background-position: right top;
    opacity: 0.5; 
    z-index: -1;
}

.hero-content {
    font-family: 'Lora', serif;
    text-align: left;
    width: 100%;
    padding-left: 5%;
    z-index: 1;
}

.hero-title-line-one  {
    color: white;
    letter-spacing: 5px;
    line-height: 0.4;
    font-size: clamp(1.4rem, 2vw, 2rem);
}

.hero-title-line-two {
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
}

.hero-title-line-three {
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 2;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.hero-button {
    margin: 250px 0 100px 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Lora', serif;
    background-color: #B49C73;
    background-repeat: no-repeat; 
    border-radius: 3px; 
    border: none;
    padding: 15px 25px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.hero-button:hover {
    background-color: #1E1E1E;
    color: #B49C73;
}

@media screen and (max-width: 768px) {
    .hero-background {
        height: 60vh;
    }
    .hero-background::before {
        background-image: url('/assets/pictures/pexels-pavel-danilyuk-hero-bg-cropped-woman.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-button {
        margin: clamp(90px, 18vh, 250px) 0 40px 0; 
    }    
    .hero-title {
        line-height: 1.7;
    }
}
@media screen and (max-width: 481px) {
    .hero-content {
        padding-left: 7%;
    }
    .hero-background {
        height: 80vh; 
    }
}

/* main */

/* mission */
#mission {
    background-color: #FFFFFF;
}

.mission-content {
    padding: 20px;
    width: 90%;
    margin: auto;
}

h2 {
    font-family: 'Lora', serif;
    color: #B49C73;
    font-size: 2rem;
}

.values-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.single-value {
    width: 400px;
}


/* about */

.about-content {
    padding: 20px;
    margin: auto;
    width: 90%;
}

#about-info p {
    color: white;
}

/* practice */

.slider-controls-wrapper {
    background-color: #B49C73; 
    height: 25vh;
}

.slider-controls {
    padding: 30px; 
    display: flex;
    justify-content: center; 
}

.slider-controls img {
    cursor: pointer; 
    width: 3rem;
    transition: opacity 0.3s ease; 
}

.slider-controls img:hover {
    opacity: 0.7; 
}

.slider {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    margin-top: -8%;
    position: relative; 
    z-index: 2; 
    transition: transform 0.5s ease;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: 600px;
    margin: 10px; 
    transition: transform 0.5s ease; 
}

.white-bg {
    width: 100%;
    height: 50%; 
    background-color: #FFFFFF;
    position: absolute; 
    bottom: 0; 
    z-index: -1; 
}

.card p {
    padding: 0 30px;
}

.image-wrapper {
    border-radius: 100%;
    width: 100px; 
    height: 100px; 
    padding: 20px;
    background-color: #1E1E1E; 
    box-shadow: 0px 4px 4px 0px #00000040; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reasonsToChoose */
#reasonsToChoose {
    padding: 50px 20px;
    margin: auto;
    width: 80%;
    position: relative; 
}

.reasonsToChoose-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasonsToChoose-image{
    height: 600px;
    width: 40%; 
    position: relative;
    z-index: 1;
    margin-right: -5%; 
    object-fit: cover; 
}

.reasonsToChoose-text {
    width: 60%; 
    background-color: white;
    padding: 20px;
    position: relative; 
    z-index: 2; 
}

.reasonsToChoose-text h2 {
    margin: 5px;
    padding: 0 0 10px 0;
}

.reasonsToChoose-text .reasonsToChoose-text-item{
    display: flex;
}

.reasonsToChoose-text-item h3 {
    margin: 1px 10px;
}

.reasonsToChoose-text-item p {
    margin: 10px;
}
.reasonsToChoose-text .reasonsToChoose-text-item img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) { 
    .hero-background {
        height: 90vh;
    }
    .about-content {
        padding: 10px;
    }
    
    #reasonsToChoose {
        padding: 50px 10px;
        width: 90%;
    }
    .reasonsToChoose-wrapper {
        flex-direction: column;
    }
    .reasonsToChoose-image{
        width: 100%; 
        margin-right: 0; 
    }
    
    .reasonsToChoose-text {
        width: 95%; 
        margin-top: -15%; 
    }
}

/* contacts */

iframe {
    width: 600px;
    height: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 50px; 
    width: 50%; 
}

.icon-row {
    grid-column: 1; 
    grid-row: span 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-row img {
    width: 30px; 
    height: auto; 
}

.text-row {
    grid-column: 2;
    padding: 2px 5px; 
}

.title {
    color: #B49C73; 
    align-self: center;
}

.text-row + .text-row {
    margin-top: 0; 
}

.icon-row + .text-row {
    margin-top: 20px; 
}

.text-row a { 
    font-style: italic;
    color: #1c7dbe;
}


.text-row a :hover {
    color: #3b86b9;
}

@media (max-width: 820px) {
    .grid-container {
        grid-auto-rows: 30px;
        grid-gap: 15px 20px; 
        width: 100%; 
    }
    .text-row a { 
        font-style: italic;
        color: #3b86b9;
    }
    
    iframe {
        width: 100%;
        height: 250px;
        padding-top: 50px;
    }
}

/* links */

hr {
    border: 1px solid #B49C73; 
    border-radius: 3px;
    height: 2px; 
}

.links-content {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.links-content p {
    color: #FFFFFF;
}

.links-content div {
    line-height: 0.7;
    display: flex;
    align-items: center;
}

.links-content div p {
    flex: 2;
}

.links-content div a {
    font-style: italic;
    color: #1c7dbe;
    flex: 4;
}

.links-content div a:hover {
    font-style: italic;
    color: #3b86b9;
}

.links-content-mobile {
    display: none;
}

@media screen and (min-width: 1600px) { 
    .links-content div p {
        flex: 1;
    }
    
}

@media screen and (min-width: 1024px) { 
    .links-content div {
        line-height: 0.1;
    }
}

@media screen and (max-width: 1024px) { 
    .links-content div{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 576px) { 
    .links-content {
        display: none;
    }
    .links-content-mobile {
        display: block;
        padding: 20px;
        width: 90%;
        margin: auto;
    }
    .links-content-mobile div {
        display: flex;
        flex-direction: column;
    }
    .links-content-mobile p {
        color: #FFFFFF;
    }
    .links-content-mobile a {
        font-style: italic;
        color: #379DE1;
    }
}