@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Judson:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Jomolhari', serif;
    line-height: 1.5; 
    color: #000000;
    font-size: 0.9rem;
    background-color: #1E1E1E;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #B49C73; 
}

/* header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    padding: 0 20px;
    height: 80px;
}

.navbar-logo {
    height: 60px; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-menu a {
    font-family: 'Judson', serif;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0 30px;
    position: relative;
    display: inline-block; 
    transition: all 0.5s ease-in-out;
}

.navbar-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px; 
    bottom: -3px;
    left: 0;
    background-color: #B49C73; 
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    color: #B49C73;
}

.navbar-menu a:hover::after {
    visibility: visible;
    width: 100%;
}

.navbar-menu a:hover {
    color: #B49C73; 
}


#languageSwitcher {
    cursor: pointer;
    margin: 0 0 0 30px;
    transition: opacity 0.3s ease; 
}

#languageSwitcher:hover {
    opacity: 0.7; 
}

#languageSwitcher img {
    height: 2.5rem; 
    width: auto;
    border-radius: 3px;
}

#enFlag {
    display: none;
}

.hero-background {
    background-image: url('/assets/pictures/pexels-pavel-danilyuk-hero-bg.webp');
    background-size: cover;
    background-position: top;
    height: 95vh;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}

.hero-content {
    text-align: left;
    width: 100%;
    padding-left: 5%; 
}

.hero-title {
    color: white;
    font-size: 2.5rem;
}

.hero-title span {
    color: white;
    font-size: 2rem;
}

.hero-button {
    margin: 250px 0 100px 0;
    background-color: #B49C73;
    border-radius: 3px;
    color: white;    
    border: none;
    padding: 15px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.hero-button:hover {
    background-color: #1E1E1E;
    color: #B49C73;
}

/* main */

/* mission */
#mission {
    background-color: #FFFFFF;
}

.mission-content {
    padding: 20px;
    width: 90%;
    margin: auto;
}

h2 {
    font-family: 'Judson', serif;
    color: #B49C73;
    font-size: 2rem;
}

.values-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.single-value {
    width: 400px;
}


/* about */

.about-content {
    padding: 20px;
    margin: auto;
    width: 90%;
}

#about-info p {
    color: white;
}

/* practice */

.slider-controls-wrapper {
    background-color: #B49C73; 
    height: 25vh;
}

.slider-controls {
    padding: 30px; 
    display: flex;
    justify-content: center; 
}

.slider-controls img {
    cursor: pointer; 
    width: 3rem;
    transition: opacity 0.3s ease; 
}

.slider-controls img:hover {
    opacity: 0.7; 
}

.slider {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    margin-top: -8%;
    position: relative; 
    z-index: 2; 
    transition: transform 0.5s ease;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 600px;
    margin: 10px; 
    transition: transform 0.5s ease;
}

.white-bg {
    width: 100%;
    height: 50%; 
    background-color: #FFFFFF;
    position: absolute; 
    bottom: 0; 
    z-index: -1; 
}

.card p {
    padding: 0 30px;
}

.image-wrapper {
    border-radius: 100%;
    width: 100px; 
    height: 100px; 
    padding: 20px;
    background-color: #1E1E1E; 
    box-shadow: 0px 4px 4px 0px #00000040; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reasonsToChoose */
#reasonsToChoose {
    padding: 20px;
    margin: auto;
    width: 80%;
    position: relative; 
}

.reasonsToChoose-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.reasonsToChoose-image{
    height: 600px;
    width: 40%; 
    position: relative;
    z-index: 1;
    margin-right: -5%; 
    object-fit: cover; 
}

.reasonsToChoose-text {
    width: 60%; 
    background-color: white;
    padding: 20px;
    position: relative; 
    z-index: 2; 
}

.reasonsToChoose-text h2 {
    margin: 5px;
    padding: 0 0 10px 0;
}

.reasonsToChoose-text .reasonsToChoose-text-item{
    display: flex;
}

.reasonsToChoose-text-item h3 {
    margin: 1px 10px;
}

.reasonsToChoose-text-item p {
    margin: 10px;
}
.reasonsToChoose-text .reasonsToChoose-text-item img {
    width: 50px;
    height: 50px;
}

/* contacts; footer */
.contactActions-wrapper {
    position: fixed; 
    right: 20px; 
    bottom: 90px; 
    width: auto; 
    z-index: 3; 
}

#contactActions {
    transition: transform 0.3s, opacity 0.3s; 
    animation: pulse 1.5s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#contactActions:hover {
    animation: none;
    transform: scale(1.1); 
}


.toTopButton-wrapper {
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    width: auto; 
    z-index: 3; 
}

#toTopButton {
    width: 45px;
    cursor: pointer;
}

#toTopButton:hover {
    opacity: 0.7;
}

#contact, footer {
    padding: 20px;
    margin: auto;
    width: 90%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer {
    font-size: 0.7rem;
}

.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-nav {
    width: 200px;
    align-items: center;
}

.footer-logo {
    width: 40px;
    height: 40px;
}

.contact-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.contact-container a {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.icon {
    width: 24px; 
    height: auto;
}

.icon:hover {
    opacity: 0.7; 
}
